.App {
  background-image: url(./bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(211, 209, 210);
  font-weight: bold;
}
.search-bar::placeholder {
  color: rgb(73, 54, 58);
  transition: all 0.5s linear;
  position: absolute;
  top: 0;
  left: 0;
}
.search-bar:focus::placeholder {
  position: absolute;
  transform: translateX(60%);
  color: rgb(250, 250, 250);
  font-size: 12px;
}
.search-bar {
  position: relative;
  font-weight: 700;
  font-style: sans-serif;
  margin: 0 1rem;
  width: 50%;
  height: 5vh;
  border-right: transparent;
  border-left: transparent;
  border-top: transparent;
  border-bottom: 2px solid black;
  background: transparent;
  outline: none;
  cursor: grab;
}
.search-bar:focus {
  color: rgb(211, 209, 210);
  font-weight: 700;
}
.btn {
  font-weight: 500 !important;
  border: 2px solid black !important;
}
.btn:hover {
  box-shadow: -1px 6px 10px 0px rgba(0, 0, 0, 0.75);
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer {
  display: flex;
  flex-direction: column;
  height: 20vh;
  background: rgba(97, 97, 97, 0.61);
  color: white;
  font-size: 18px;
}
footer h6 a:link,
footer h6 a:hover,
footer p a:link {
  text-decoration: none;
  color: black;
  cursor: grab;
}
