.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: crimson;
  font-weight: bold;
}

.search-bar {
  width: 50%;
  border: 2px solid crimson;
  border-radius: 15px;
  background-color: transparent;
  padding: 10px;
  margin-right: 10px;
  color: crimson;
  font-weight: bold;
}
.search-button {
  background-color: transparent;
  border: 2px solid crimson;
  padding: 10px 20px;
  color: crimson;
  font-weight: bold;
  border-radius: 15px;
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
